/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./theme/variables.scss";

* {
  --ion-font-family: "Proxima Nova";
}

ion-content {
  --padding-bottom: 35px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.counter {
  font-family: "Proxima Nova Bold";
}

.counter {
  font-weight: bold;
}

.main-map {
  width: 100%;
  height: 100%;
}

.event-detail-map {
  width: 80%;
  height: 500px;
}

.fake-mouse-select {
  cursor: pointer;
}

ion-icon.medium-icon {
  font-size: 24px;
}

ion-icon.big-icon {
  font-size: 36px;
}

.flex-horizontal-space-around {
  display: flex;
  justify-content: space-evenly;
}

ion-menu ion-content::part(scroll) {
  padding: 0;
}

ion-menu {
  --ion-background-color: var(--ion-color-primary);
  --ion-text-color: var(--ion-color-primary-contrast);

  ion-list {
    /* optional, but it needs when you use gradient as a background color.*/
    background: transparent;
    padding-top: 0 !important;
    border: none !important;
  }

  ion-segment-button {
    color: var(--ion-color-dark-tint);
  }

  ion-menu-toggle {
    ion-item {
      color: var(--ion-color-dark-tint);

      ion-icon {
        color: var(--ion-color-dark-tint) !important;
      }

      ion-label {
        font-weight: bolder !important;
      }
    }

    ion-item.selected {
      color: var(--ion-color-secondary);
      background-color: rgba(var(--ion-color-secondary-rgb), 0.14);

      ion-icon {
        color: var(--ion-color-secondary) !important;
      }
    }

    // Fix bug of not all in the menu item in secondary color when we hover
    :hover {
      ion-label {
        color: var(--ion-color-secondary) !important;
      }

      ion-icon {
        color: var(--ion-color-secondary) !important;
      }
    }
  }

  ion-list-header {
    color: var(--ion-color-secondary);
  }

  ion-note {
    color: var(--ion-color-secondary-shade) !important;
  }
}

.btn-lang-box {
  display: flex;

  ion-button {
    flex: 1;
  }
}

.separator-line {
  margin: 10px 15px;
  border-bottom: solid var(--ion-color-primary) 1px;
}


.programme-card-body {
  margin: 0;
  height: 100%;

  // WARNING
  // the height value of this must be the value of the top of the .ion-fab-event-card-fav + 50
  ion-thumbnail {
    height: 150px;
    width: 100%;
  }

  ion-card-header {
    padding: 0 5px;
  }

  ion-card-content {
    padding: 5px;
  }

  // The title text is cut
  ion-card-title.event-title {
    // max-height: 48px;
    // white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
  }
}

// WARNING
// the top value of this must be the value of the height of the ion-thumbnail of the event card - 50
.ion-fab-event-card-fav {
  top: 100px;
}

.m-left-small {
  margin-left: $small-size;
}

.m-medium {
  margin: $medium-size;
}

.m-bt-medium {
  margin-bottom: $medium-size;
}

.m-top-medium {
  margin-top: $medium-size;
}

.m-left-medium {
  margin-left: $medium-size;
}

.m-right-medium {
  margin-right: $medium-size;
}

.disabled-margin {
  margin: 0 !important;
}

.primary-color {
  color: var(--ion-color-primary);
}

.secondary-color {
  color: var(--ion-color-secondary);
}

.tertiary-color {
  color: var(--ion-color-tertiary);
}

.medium-color {
  color: var(--ion-color-medium);
}

.warning-color {
  color: var(--ion-color-warning);
}

.font-italic {
  font-size: italic;
}

.loading-block {
  z-index: 1000;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(#000, 0.75);
}

.loading-inside {
  display: block;
  right: 0;
  bottom: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}

.text-align {
  text-align: center;
}

// the tab selected button color
ion-tab-button {
  --color-selected: var(--ion-color-secondary);
  --color-focused: var(--ion-color-secondary);
}

.custom-tab-selected {
  color: var(--ion-color-secondary) !important;
}

.event-detail-maininfo {
  display: flex;

  .event-detail-maininfo-detail {
    flex: 11;
  }

  ion-icon {
    align-self: center;
    flex: 1;
    font-size: 35px;
  }
}

.banner-picture-container {
  background-image: url("./assets/pictures/front-page.jpg");
  background-position: bottom left;
  height: 425px;
  background-repeat: no-repeat;
  background-size: 100%;
}

// .banner-container {
//   position: relative;
// }

// .banner-container-text {
//   position: absolute;
//   top: 10px;
//   left: 10px;
//   font-weight: bold !important;
//   color: white !important;
// }

.home-main-text {
  font-weight: bold;
}

.home-description-text {
  color: var(--ion-color-medium);
}

.favorites-conflict-warning-bar {
  background-color: var(--ion-color-warning) !important;
  padding-top: 2px;
  padding-bottom: 2px;
}

.favorites-conflict-warning-text {
  display: flex;

  ion-icon {
    align-self: center;
    margin-left: 12px;
    margin-right: 12px;
  }
}

ion-accordion::part(header) {
  font-style: italic;
}

ion-tab-bar {
  padding-top: unset !important;
}

@media screen and (min-width: 992px) {
  .not-present-small {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .not-present-big {
    display: none;
  }
}

ion-label {
  white-space: unset !important;

  li {
    color: var(--ion-color-step-600, #666666);
    font-size: 14px;
  }
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

ion-modal {
  --height: 75%;
  --width: 90%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgb(209, 213, 219);
  opacity: 1;
}

.transparent-background {
  background: transparent;
}

.fake-border {
  border: 1px solid;
  border-radius: 8px;
  padding: 10px;
}
