<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <!-- <ion-list-header>Manifiestapp</ion-list-header>
          <ion-note>{{ 'General.Welcome' | translate }}</ion-note> -->

          <img src="assets/pictures/manifiesta-title-logo.jpg" alt="logo" />

          <ion-segment (ionChange)="languageSegmentChanged($event)" [value]="languageCommunication.selectedLanguage"
            color='tertiary' class="m-bt-16">
            <ion-segment-button value="fr">
              <ion-label>Fr</ion-label>
            </ion-segment-button>
            <ion-segment-button value="nl">
              <ion-label>Nl</ion-label>
            </ion-segment-button>
          </ion-segment>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ 'Menu.' + p.title | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <div class="flex-horizontal-space-around">
          <a [href]="'https://www.instagram.com/manifiesta.' + languageCommunication.translate.currentLang"
            alt="instagram" target="_blank">
            <ion-icon name="logo-instagram" color="instagram" class="big-icon">
            </ion-icon>
          </a>
          <a href="https://www.facebook.com/manifiesta.be" alt="facebook" target="_blank">
            <ion-icon name="logo-facebook" color="facebook" class="big-icon">
            </ion-icon>
          </a>
          <!-- TODO have the spotify icon -->
          <a href="https://open.spotify.com/user/manifiesta.be" alt="spotify" target="_blank">
            <ion-icon name="musical-note-outline" color="spotify" class="big-icon">
            </ion-icon>
          </a>
          <!-- TODO Make the youtube account back alive please -->
          <a href="https://twitter.com/manifiesta_be" alt="twitter" target="_blank">
            <ion-icon name="logo-twitter" color="twitter" class="big-icon">
            </ion-icon>
          </a>
        </div>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>

  <ion-fab *ngIf="showPlaylistButton" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="manifiesta-playlist" color="secondary">
      <ion-icon name="musical-notes"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-app>