<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Manifiestapp</ion-list-header>
          <ion-note>{{ 'General.Welcome' | translate }}</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ 'Menu.' + p.title | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-segment (ionChange)="languageSegmentChanged($event)" [value]="languageCommunication.selectedLanguage"
          color='primary' class="m-top-16 m-bt-16">
          <ion-segment-button value="fr">
            <ion-label>Fr</ion-label>
          </ion-segment-button>
          <ion-segment-button value="nl">
            <ion-label>Nl</ion-label>
          </ion-segment-button>
          <ion-segment-button value="en">
            <ion-label>En</ion-label>
          </ion-segment-button>
        </ion-segment>

        <ion-img src="assets/pictures/manifiesta-logo.jpg" alt="logo"></ion-img>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>