<app-header [title]="event?.title" [withoutI18n]="true" [defaultHref]="defaultHref"></app-header>

<ion-content>
  <div *ngIf="event">
    <img [src]="event.image?.meta?.download_url" width="100%" />

    <div class="m-right-medium m-left-medium">
      <h3 class="secondary-color disabled-margin" [innerHtml]="event?.title"></h3>

      <div class="event-detail-maininfo" *ngIf="event.api_event_dates[0]">
        <div class="event-detail-maininfo-detail">
          <h5 class="primary-color disabled-margin">
            {{event.api_event_dates[0]?.day}} | {{event.api_location?.name}} - {{event.api_categories?.primary[0]}}
          </h5>
          <h5 class="secondary-color disabled-margin">
            {{event.api_event_dates[0].start | simpleDatePipe:true}} -
            {{event.api_event_dates[0].end | simpleDatePipe:true}}
          </h5>
        </div>
      </div>

      <p [innerHtml]="event.description[0].value"></p>

      <hr>
    </div>

  </div>

  <!-- <div *ngIf="options" class="event-detail-map" leaflet [leafletOptions]="options" [leafletLayers]="markers">
    </div> -->

  <!-- <ion-fab *ngIf="event" vertical="bottom" horizontal="end" slot="fixed" (click)="onCardHeartClick(event)">
      <ion-fab-button color="tertiary">
        <ion-icon [name]="event.favorite ? 'heart' : 'heart-outline'"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
</ion-content>