<app-header [title]="'ProgrammeDetail'" [defaultHref]="defaultHref"></app-header>

<app-loader [show]="isLoading"></app-loader>

<ion-content>
  <div *ngIf="event">
    <h1 [innerHtml]="event.headline"></h1>
    <img [src]="event['toolset-meta']?.['info-evenement']?.afbeelding?.raw" height="100" />
    <p [innerHtml]="event.content.rendered"></p>
    <h3>{{event.dayTerm?.name}}</h3>
    <h3>{{event.startDate | simpleDatePipe}} - {{event.endDate | simpleDatePipe}}</h3>
    <h4>{{event.locationTerm?.name}}</h4>
    <h5 *ngFor="let c of event.categoriesTerm">
      {{c.name}}
    </h5>
    <a *ngIf="event['toolset-meta']?.['info-evenement']?.['facebook-pagina']?.raw"
      [href]="event['toolset-meta']?.['info-evenement']?.['facebook-pagina']?.raw" target="_blank">
      <ion-icon name="logo-facebook" color="facebook" class="medium-icon">
      </ion-icon>
    </a>

    <hr>
    <ion-icon (click)="onCardHeartClick(event)" color="secondary" [name]="event.favorite ? 'heart' : 'heart-outline'">
    </ion-icon>
  </div>

  <div *ngIf="options" class="event-detail-map" leaflet [leafletOptions]="options" [leafletLayers]="markers">
  </div>
</ion-content>