:root {
  --color-primary: #f7b512;
  --color-secondary: #f15423;
  --color-error: red;
  --color-warning: #e0ac08;
}

* {
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  background-color: var(--color-primary);
  text-align: center;
}

h1 {
  color: var(--color-secondary);
}

.text-error {
  color: var(--color-error);
}

.text-warning {
  color: var(--color-warning);
}

button {
  background-color: var(--color-secondary);
  border-radius: 15px;
}
