:root {
  --color-primary: #F59BBB;
  --color-secondary: #3B953F;
  --color-error: red;
}

* {
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  background-color: var(--color-primary);
  text-align: center;
}

h1 {
  color: var(--color-secondary);
}

.text-error {
  color: var(--color-error);
}

button {
  background-color: var(--color-secondary);
  border-radius: 15px;
}
