{% extends '@EasyAdmin/layout.html.twig' %}

{% block title %}Manifiestback Admin Panel{% endblock %}
 
{% block main %}
  <h1>TODO</h1>
  <h2>Hello camrades</h2> 
  <br>
  <p>Number of guests for the moment: {{guestCount}}</p>
  <p>Number of events for the moment: TODO</p>
{% endblock %}