<h1>Please don't touch if you are not from the Manifiesta Directie or Volunteer Team</h1>
<hr>

<h2>Get excel list of Beeple function</h2>
<button mat-raised-button color="primary" (click)="getBeepleFunctions()">Get</button>
<hr>

<h2>Text for the volunteer benefits</h2>
<h3>FR</h3>
<editor [init]="tinyMceConfig" [(ngModel)]="volunteerFr"></editor>
<button mat-raised-button color="primary" (click)="saveVbFr()">Save</button>
<h3>NL</h3>
<editor [init]="tinyMceConfig" [(ngModel)]="volunteerNl"></editor>
<button mat-raised-button color="primary" (click)="saveVbNl()">Save</button>

<hr>

<h2>Text for the general new infos</h2>
<h3>FR</h3>
<editor [init]="tinyMceConfig" [(ngModel)]="newInfosFr"></editor>
<button mat-raised-button color="primary" (click)="saveNiFr()">Save</button>
<h3>NL</h3>
<editor [init]="tinyMceConfig" [(ngModel)]="newInfosNl"></editor>
<button mat-raised-button color="primary" (click)="saveNiNl()">Save</button>

<hr>

<h2>Text for the home page</h2>
<h3>FR</h3>
<editor [init]="tinyMceConfig" [(ngModel)]="homeFr"></editor>
<button mat-raised-button color="primary" (click)="saveHomeFr()">Save</button>
<h3>NL</h3>
<editor [init]="tinyMceConfig" [(ngModel)]="homeNl"></editor>
<button mat-raised-button color="primary" (click)="saveHomeNl()">Save</button>

<hr>

<h2>Text for the "over info" page</h2>
<h3>FR</h3>
<editor [init]="tinyMceConfig" [(ngModel)]="overInfoFr"></editor>
<button mat-raised-button color="primary" (click)="saveOiFr()">Save</button>
<h3>NL</h3>
<editor [init]="tinyMceConfig" [(ngModel)]="overInfoNl"></editor>
<button mat-raised-button color="primary" (click)="saveOiNl()">Save</button>