# Node, packages
node_modules
npm-debug.log

# Local env overrides
.env.*

# Built project files
.angular
www

# IDEs
## Phpstorm
.idea
# VS Code
.vscode
.history

# OS files
## macOS
.DS_Store
## Windows
Thumbs.db

# @TODO cleanup below to what is actually requried and add move to the
# appropriate section below.
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/coverage
/platforms
/plugins
App/output 