<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="!defaultHref"></ion-menu-button>
      <ion-back-button *ngIf="defaultHref" [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>

    <ion-title *ngIf="title && !withoutI18n">{{ 'Menu.' + title | translate }}</ion-title>
    <ion-title *ngIf="!title">Manifiesta</ion-title>
    <ion-title *ngIf="title && withoutI18n" [innerHtml]="title" [title]="title">{{title}}</ion-title>

    <ion-title *ngIf="!connected" color="danger">{{'General.NoInternet' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>