<ion-list>
  <ion-item *ngFor="let event of list">
    <ion-avatar [routerLink]="['/programme', 'event-detail', event.id]" class="fake-mouse-select">
      <ion-img [src]="event.mainPictureUrl"></ion-img>
    </ion-avatar>
    <ion-label [routerLink]="['/programme', 'event-detail', event.id]" class="fake-mouse-select">
      <h2>{{event.startDate | simpleDatePipe:dateJustWithHour}} - {{event.endDate |
        simpleDatePipe:true}} <ion-icon *ngIf="event.inFavoriteConflict" name="alert-circle" color="warning"></ion-icon>
      </h2>
      <p>
        <span [innerHtml]="event.headline" class="secondary-color"></span> -
        <span class="primary-color">{{event.localisation?.name}}</span>
      </p>
    </ion-label>
    <ion-icon class="fake-mouse-select" (click)="onCardHeartClick(event)" color="tertiary"
      [name]="event.favorite ? 'heart' : 'heart-outline'">
    </ion-icon>
  </ion-item>
</ion-list>