<app-header [title]="'About'"></app-header>

<ion-content>

  <ion-item>
    <ion-label><a href="mailto:info@manifiesta.be">info@manifiesta.be</a></ion-label>
  </ion-item>

  <ion-accordion-group>
    <ion-accordion value="rules">
      <ion-item slot="header">
        <ion-label>{{ 'Info.Rules' | translate }}</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <ion-label>
            <h2 class="secondary-color">{{ 'About.Article' | translate:{num:'1'} }}</h2>
            <p>{{ 'About.ArticleOne' | translate }}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2 class="secondary-color">{{ 'About.Article' | translate:{num:'2'} }}</h2>
            <ul>
              <li>{{ 'About.ArticleTwoOne' | translate }}</li>
              <li>{{ 'About.ArticleTwoTwo' | translate }}</li>
              <li>{{ 'About.ArticleTwoThree' | translate }}</li>
              <li>{{ 'About.ArticleTwoFour' | translate }}</li>
              <li>{{ 'About.ArticleTwoFive' | translate }}</li>
              <li>{{ 'About.ArticleTwoSix' | translate }}</li>
            </ul>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2 class="secondary-color">{{ 'About.Article' | translate:{num:'3'} }}</h2>
            <p>{{ 'About.ArticleThreeBegin' | translate }}</p>
            <ul>
              <li>{{ 'About.ArticleThreeOne' | translate }}</li>
              <li>{{ 'About.ArticleThreeTwo' | translate }}</li>
              <li>{{ 'About.ArticleThreeThree' | translate }}</li>
              <li>{{ 'About.ArticleThreeFour' | translate }}</li>
              <li>{{ 'About.ArticleThreeFive' | translate }}</li>
              <li>{{ 'About.ArticleThreeSix' | translate }}</li>
              <li>{{ 'About.ArticleThreeSeven' | translate }}</li>
              <li>{{ 'About.ArticleThreeEight' | translate }}</li>
              <li>{{ 'About.ArticleThreeNine' | translate }}</li>
            </ul>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2 class="secondary-color">{{ 'About.Article' | translate:{num:'4'} }}</h2>
            <p>{{ 'About.ArticleFourBeginOne' | translate }}</p>
            <p>{{ 'About.ArticleFourBeginTwo' | translate }}</p>
            <ul>
              <li>{{ 'About.ArticleFourOne' | translate }}</li>
              <li>{{ 'About.ArticleFourTwo' | translate }}</li>
              <li>{{ 'About.ArticleFourThree' | translate }}</li>
              <li>{{ 'About.ArticleFourFour' | translate }}</li>
              <li>{{ 'About.ArticleFourFive' | translate }}</li>
              <li>{{ 'About.ArticleFourSix' | translate }}</li>
              <li>{{ 'About.ArticleFourSeven' | translate }}</li>
              <li>{{ 'About.ArticleFourEight' | translate }}</li>
            </ul>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2 class="secondary-color">{{ 'About.Article' | translate:{num:'5'} }}</h2>
            <p>{{ 'About.ArticleFiveBegin' | translate }}</p>
            <ul>
              <li>{{ 'About.ArticleFiveOne' | translate }}</li>
              <li>{{ 'About.ArticleFiveTwo' | translate }}</li>
              <li>{{ 'About.ArticleFiveThree' | translate }}</li>
              <li>{{ 'About.ArticleFiveFour' | translate }}</li>
            </ul>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2 class="secondary-color">{{ 'About.Article' | translate:{num:'6'} }}</h2>
            <p>{{ 'About.ArticleSixBegin' | translate }}</p>
            <ul>
              <li>{{ 'About.ArticleSixOne' | translate }}</li>
              <li>{{ 'About.ArticleSixTwo' | translate }}</li>
              <li>{{ 'About.ArticleSixThree' | translate }}</li>
              <li>{{ 'About.ArticleSixFour' | translate }}</li>
            </ul>
            <p>{{ 'About.ArticleSixEnd' | translate }}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2 class="secondary-color">{{ 'About.Article' | translate:{num:'7'} }}</h2>
            <ul>
              <li>{{ 'About.ArticleSevenOne' | translate }}</li>
              <li>{{ 'About.ArticleSevenTwo' | translate }}</li>
            </ul>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>

  <ion-accordion-group>
    <ion-accordion value="access4all">
      <ion-item slot="header">
        <ion-label>Access4All</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <ion-label>
            <p>{{ 'About.Access4allMainText' | translate }}</p>
            <ul>
              <li>{{ 'About.Access4allMainTextOne' | translate }}</li>
              <li>{{ 'About.Access4allMainTextTwo' | translate }}</li>
              <li>{{ 'About.Access4allMainTextThree' | translate }}</li>
              <li>{{ 'About.Access4allMainTextFour' | translate }}</li>
              <li>{{ 'About.Access4allMainTextFive' | translate }}</li>
              <li>{{ 'About.Access4allMainTextSix' | translate }}</li>
              <li>{{ 'About.Access4allMainTextSeven' | translate }}</li>
            </ul>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2 class="secondary-color">{{ 'About.Access4allField' | translate }}</h2>
            <ul>
              <li>{{ 'About.Access4allFieldOne' | translate }}</li>
              <li>{{ 'About.Access4allFieldTwo' | translate }}</li>
              <li>{{ 'About.Access4allFieldThree' | translate }}</li>
              <li>{{ 'About.Access4allFieldFour' | translate }}</li>
              <li>{{ 'About.Access4allFieldFive' | translate }}</li>
              <li>{{ 'About.Access4allFieldSix' | translate }}</li>
              <li>{{ 'About.Access4allFieldSeven' | translate }}</li>
              <li>{{ 'About.Access4allFieldEight' | translate }}</li>
            </ul>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2 class="secondary-color">{{ 'About.Access4allParking' | translate }}</h2>
            <ul>
              <li>{{ 'About.Access4allParkingOne' | translate }}</li>
              <li>{{ 'About.Access4allParkingTwo' | translate }}</li>
            </ul>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2 class="secondary-color">{{ 'About.Access4allContact' | translate }}</h2>
            <p [innerHTML]="'About.Access4allContactText' | translate"></p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>

  <ion-accordion-group>
    <ion-accordion value="housing">
      <ion-item slot="header">
        <ion-label>{{ 'About.Lodging' | translate }}</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <ion-label>
            <h2 class="secondary-color">{{ 'About.CampingManifiesta' | translate }}</h2>
            <p [innerHTML]="'About.CampingManifiestaText' | translate"></p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2 class="secondary-color">{{ 'About.CampingYoung' | translate }}</h2>
            <p [innerHTML]="'About.CampingYoungText' | translate"></p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2 class="secondary-color">{{ 'About.ShuttleBredene' | translate }}</h2>
            <p [innerHTML]="'About.ShuttleBredeneText' | translate"></p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2 class="secondary-color">{{ 'About.OtherLodging' | translate }}</h2>
            <p [innerHTML]="'About.OtherLodgingText' | translate"></p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>

  <ion-accordion-group>
    <ion-accordion value="app">
      <ion-item slot="header">
        <ion-label>{{ 'About.App' | translate }}</ion-label>
      </ion-item>
      <ion-item slot="content">
        <p>
          {{ 'About.Dev' | translate }}
          <a href="https://github.com/FreeCaribou/Manifiestapp" class="text-align"><ion-icon name="logo-github"></ion-icon></a>
        </p>
      </ion-item>
    </ion-accordion>
  </ion-accordion-group>

</ion-content>