<app-header [title]="'About'"></app-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      {{ 'Info.GeneralInfo' | translate }}
    </ion-list-header>
    <ion-item>
      <ion-label>{{ 'Info.HowToCome' | translate }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'Info.Rules' | translate }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Sponsor here later</ion-label>
    </ion-item>

    <ion-list-header>
      {{ 'Info.Contact' | translate }}
    </ion-list-header>
    <ion-item>
      <ion-label>info@manifiesta.be</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>+32 one random number</ion-label>
    </ion-item>
  </ion-list>

</ion-content>