<app-header [title]="'News'"></app-header>

<ion-content>
  <div class="m-right-medium m-left-medium m-top-medium">
    <ion-card *ngFor="let new of list" class="programme-card-body m-bt-medium fake-mouse-select"
      [routerLink]="['/new-detail', new.id]">
      <ion-thumbnail>
        <ion-img [src]="new.mainPictureUrl"></ion-img>
      </ion-thumbnail>

      <ion-card-header>
        <ion-card-subtitle>
        </ion-card-subtitle>
        <ion-card-title [innerHtml]="new.headline" color="secondary"></ion-card-title>
      </ion-card-header>

      <ion-card-content [innerHtml]="new.shortText">
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>