<h1 mat-dialog-title>Detail selling of {{data.name}} - Total: {{data.quantity}}</h1>

<div mat-dialog-content>
  <h2>Tickets types summary</h2>
  <app-tickets-types-count [details]="data.details"></app-tickets-types-count>
  <h2>Sellings details</h2>
  <ng-container *ngFor="let d of data.details">
    <p>{{d.date | date:'medium'}} </p>
    <p><span *ngIf="d.fromWorkGroup">(as work group)</span> {{d.clientName}}</p>
    <app-details-tickets [tickets]="d.ticketInfo"></app-details-tickets>
    <br>
    <br>
  </ng-container>
</div>
