<h6>
  {{"Ticket.HardwareNOK" | translate}}
</h6>

<h6 *ngIf="!vivaWalletVerification.gpsActivated">
  {{"Ticket.GpsNotActivated" | translate}}
  <ion-button expand="block" (click)="goActiveGps()" color="secondary" size="large">
    {{"Ticket.ActivateGps" | translate}}
  </ion-button>
</h6>
<h6 *ngIf="!vivaWalletVerification.nfcActivated">
  {{"Ticket.NfcNotActivated" | translate}}
  <ion-button expand="block" (click)="goActiveNfc()" color="secondary" size="large">
    {{"Ticket.ActivateNfc" | translate}}
  </ion-button>
</h6>
<h6 *ngIf="!vivaWalletVerification.vivaWalletInstall">
  {{"Ticket.VivaWalletNotInstall" | translate}}
  <ion-button expand="block" (click)="goInstallVivaWallet()" color="secondary" size="large">
    {{"Ticket.InstallVivaWallet" | translate}}
  </ion-button>
</h6>
