<ion-card>
  <img [src]="event.image?.url" height="100" />
  <ion-card-header>
    <ion-card-title [innerHtml]="event.title" color="tertiary"></ion-card-title>
  </ion-card-header>
  <ion-card-content (click)="onCardHeartClick(event)">
    <div [innerHtml]="event.description"></div>
    <ion-icon color="secondary" [name]="event.favorite ? 'heart' : 'heart-outline'"></ion-icon>
  </ion-card-content>
  <ion-item>
    <ion-button [routerLink]="['/programme', 'event', event.id]" fill="outline" slot="start">Detail</ion-button>
  </ion-item>
</ion-card>