<ion-card>
  <img [src]="event._embedded?.['wp:featuredmedia']?.[0]?.source_url" height="100" />
  <ion-card-header>
    <ion-card-title color="tertiary">{{event.title.rendered}}</ion-card-title>
  </ion-card-header>
  <ion-card-content (click)="onCardHeartClick(event)">
    {{event.content.rendered}}
    <ion-icon color="secondary" [name]="event.favorite ? 'heart' : 'heart-outline'"></ion-icon>
  </ion-card-content>
  <ion-item>
    <ion-button [routerLink]="['/programme', 'event', event.id]" fill="outline" slot="start">Detail</ion-button>
  </ion-item>
</ion-card>