<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons style="display: flex; justify-content: center;">
      <ion-button (click)="closeShowAfterSellingModal()">{{"Ticket.SellingSuccess" | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <p>
    {{"Ticket.PostSellingInfo" | translate:finishSellingInfoDataI18NParam}}
  </p>
  <p>
    Ref: <strong>{{finishSellingInfo?.order?.reference}}</strong>
  </p>
  <h6>
    {{"Ticket.ClientWantProof" | translate}}
  </h6>
  <app-my-selling-little-recap [mySellingInfo]="mySellingInfo" [sellerSellingGoal]="sellerSellingGoal" [postSelling]="true">
  </app-my-selling-little-recap>
  <br>
  <ion-button expand="block" color="success" class="m-top-medium" (click)="closeShowAfterSellingModal()">{{"Ticket.ContinueSelling" | translate}}</ion-button>
  <br>
  <a [routerLink]="['/selling/my-details']">
    {{"Ticket.CuriousOfOther" | translate}}
  </a>
</ion-content>