<app-header [title]="'MyManifiesta'"></app-header>

<ion-content>

  <div *ngIf="haveConflict" class="favorites-conflict-warning-bar" color="warning">
    <h5 class="favorites-conflict-warning-text">
      <ion-icon name="alert-circle-outline"></ion-icon>
      {{ 'Programme.HaveConflict' | translate }}
    </h5>
  </div>

  <h5 class="text-align">{{'General.SeeYouLater' | translate}}</h5>

  <h5 *ngIf="volunteerName" class="m-right-medium m-left-medium">
    {{'General.Hello' | translate}} {{volunteerName}} !
  </h5>

  <!-- Favorite Programme -->
  <!-- <ion-accordion-group value="favoriteProgramme">
    <ion-accordion value="favoriteProgramme">
      <ion-item slot="header">
        <ion-label>{{'Programme.YourFavoris' | translate }}</ion-label>
      </ion-item>
      <div slot="content">
        <div *ngIf="list">
          <a [routerLink]="['/programme']">
            <p *ngIf="list?.length === 0" class="m-right-medium m-left-medium">{{ 'Programme.NoFavorites' | translate }}
            </p>
          </a>
          <div *ngIf="list?.length > 0">
            <app-event-list [list]="list" [dateJustWithHour]="dateJustWithHour"></app-event-list>
          </div>
        </div>
      </div>
    </ion-accordion>
  </ion-accordion-group> -->


  <!-- Shifts Volunteers -->
  <ion-accordion-group value="shiftsVolunteers">
    <ion-accordion value="shiftsVolunteers">
      <ion-item slot="header">
        <ion-label>{{'General.ShiftsVolunteers' | translate }}</ion-label>
      </ion-item>
      <div slot="content">
        <h2 *ngIf="!connected" class="m-right-medium m-left-medium">{{'User.NotConnectedForShifts' | translate }}</h2>
        <form *ngIf="!isConnected && loginForm && connected" [formGroup]="loginForm">

          <p [innerHtml]="'User.ConnectionBeeple' | translate" class="m-right-medium m-left-medium"></p>

          <ion-grid>
            <ion-item>
              <ion-label color="primary" position="stacked">
                {{"User.Email" | translate}}
              </ion-label>
              <ion-input clearInput type="email" formControlName="email" required placeholder="email@something.be">
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="primary" position="stacked">
                {{"User.Password" | translate}}
              </ion-label>
              <ion-input clearInput type="password" formControlName="password" required placeholder="azerty1234"
                clearOnEdit="false">
              </ion-input>
            </ion-item>

            <ion-button class="padding-not-stick-edges" (click)="clickOnLogin()" color="secondary" expand="block"
              [disabled]="!loginForm.valid">
              {{'User.Login' | translate}}
              <ion-icon slot="end" icon="person"></ion-icon>
            </ion-button>

            <ion-chip *ngIf="hadLoginError" color="warning" class="m-right-medium m-left-medium">
              {{'User.ConnectionProblem' | translate}}
            </ion-chip>

            <ion-button (click)="seeBeeple()" class="padding-not-stick-edges m-top-medium" color="primary"
              expand="block">
              {{'User.SignupBeepleText' | translate}}
              <ion-icon slot="end" icon="person-add"></ion-icon>
            </ion-button>

          </ion-grid>
        </form>

        <div *ngIf="isConnected">
          <ion-list>
            <ion-item *ngFor="let s of shifts">
              <ion-label>
                <h2> {{s.team.shifts[0]?.start_datetime | date:'dd/MM HH:mm' }} - {{s.team.shifts[0]?.end_datetime |
                  date:'HH:mm' }}</h2>
                <p>
                  <span class="secondary-color">{{s.team.happening}}</span> -
                  <span class="primary-color">{{s.team.function?.name}}</span>
                </p>
              </ion-label>
            </ion-item>
          </ion-list>
          <div class="m-right-medium m-left-medium m-bt-medium m-top-medium flex-space-between">
            <a class="fake-mouse-select" (click)="openAdvantageModal()">{{'Volunteer.AdvantageTitle' | translate}}</a>
            <a class="fake-mouse-select" (click)="openInsuranceModal()">{{'Volunteer.InsuranceTitle' | translate}}</a>
          </div>
          <div class="m-right-medium m-left-medium flex-space-between">
            <ion-button color="danger" (click)="clickOnLogout()" size="small">
              Logout
            </ion-button>
            <ion-button color="danger" (click)="clickOnDeleteAccount()" size="small">
              {{'User.DeleteAccount' | translate }}
            </ion-button>
          </div>
        </div>

      </div>
    </ion-accordion>
  </ion-accordion-group>


  <!-- Options -->
  <ion-accordion-group value="opties">
    <ion-accordion value="opties">
      <ion-item slot="header">
        <ion-label>{{'General.Options' | translate }}</ion-label>
      </ion-item>
      <div slot="content">
        <div class="m-right-medium m-left-medium">
          <ion-list class="btn-lang-box">
            <ion-button [disabled]="languageCommunication.selectedLanguage === 'fr'" size="small"
              (click)="presentModalSelectLang('fr')"
              [color]="languageCommunication.selectedLanguage === 'fr' ? 'warning' : 'secondary'"
              [fill]="languageCommunication.selectedLanguage === 'fr' ? 'outline' : 'solid'">
              FR
            </ion-button>
            <ion-button [disabled]="languageCommunication.selectedLanguage === 'nl'" size="small"
              (click)="presentModalSelectLang('nl')"
              [color]="languageCommunication.selectedLanguage === 'nl' ? 'warning' : 'secondary'"
              [fill]="languageCommunication.selectedLanguage === 'nl' ? 'outline' : 'solid'">
              NL
            </ion-button>
          </ion-list>

          <ion-item>
            <ion-label>{{'User.AcceptNotification' | translate}}</ion-label>
            <ion-checkbox name="accept-notification" [value]="acceptNotification" [checked]="acceptNotification"
              color="secondary" (ionChange)="onChangeAcceptNotification($event)"></ion-checkbox>
          </ion-item>
        </div>
      </div>
    </ion-accordion>
  </ion-accordion-group>


  <!-- Modal for volunteer -->
  <ion-modal #advantageModal>
    <ng-template>
      <ion-header translucent>
        <ion-toolbar color="secondary">
          <ion-title>{{'Volunteer.AdvantageTitle' | translate}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeAdvantageModal()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <p>{{'Volunteer.AdvantagePartOne' | translate}}</p>
        <p>{{'Volunteer.AdvantagePartTwo' | translate}}</p>
        <p>{{'Volunteer.AdvantagePartThree' | translate}}</p>
        <p>{{'Volunteer.AdvantagePartFour' | translate}}</p>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #insuranceModal>
    <ng-template>
      <ion-header translucent>
        <ion-toolbar color="secondary">
          <ion-title>{{'Volunteer.InsuranceTitle' | translate}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeInsuranceModal()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <p>{{'Volunteer.InsurancePartOne' | translate}}</p>
        <p [innerHtml]="'Volunteer.InsurancePartList' | translate"></p>
        <p>{{'Volunteer.InsurancePartPolice' | translate}}</p>
        <p [innerHtml]="'Volunteer.InsuranceEnd' | translate"></p>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>