<app-header [title]="'MyManifiesta'"></app-header>

<ion-content>

  <!-- Must have own ion-segment because we can't stop propagation of click event -->
  <ion-list class="btn-lang-box">
    <button [disabled]="languageCommunication.selectedLanguage === 'fr'" (click)="presentModalSelectLang('fr')">
      FR
    </button>
    <button [disabled]="languageCommunication.selectedLanguage === 'nl'" (click)="presentModalSelectLang('nl')">
      NL
    </button>
  </ion-list>

  <ion-toolbar *ngIf="haveConflict" color="warning">
    <ion-title>
      <ion-icon name="alert-circle-outline"></ion-icon> {{ 'Programme.HaveConflict' | translate }}
    </ion-title>
  </ion-toolbar>

  <h2 *ngIf="list?.length > 0 && loadingCommunication.isLoading?.length > 0">{{'Programme.YourFavoris' | translate }}</h2>
  <a [routerLink]="['/programme']">
    <h2 *ngIf="list?.length === 0 && loadingCommunication.isLoading?.length > 0">{{ 'Programme.NoFavorites' | translate }}</h2>
  </a>
  <!-- TODO have button to switch list to card -->
  <!-- <app-event-list-card [list]="list" [dateJustWithHour]="dateJustWithHour"></app-event-list-card> -->
  <!-- Try with a list view what it's look like -->
  <ion-list>
    <ion-item *ngFor="let event of list">
      <ion-avatar>
        <ion-img [src]="event.mainPictureUrl"></ion-img>
      </ion-avatar>
      <ion-label>
        <h1 [innerHtml]="event.headline" color="tertiary"></h1>
        <p>
          <span>{{event.startDate | simpleDatePipe:dateJustWithHour}} - {{event.endDate |
            simpleDatePipe:dateJustWithHour}}</span>
          <ion-icon *ngIf="event.inFavoriteConflict" name="alert-circle" color="warning"></ion-icon>
        </p>
      </ion-label>
      <ion-icon class="fake-mouse-select" (click)="onCardHeartClick(event)" color="secondary"
        [name]="event.favorite ? 'heart' : 'heart-outline'">
      </ion-icon>
    </ion-item>
  </ion-list>

</ion-content>