.selected {
  text-decoration: underline;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
}

.inner-loader {
  top: 50%;
  left: 50%;
}