<ion-content>

  <ion-accordion-group>
    <ion-accordion value="filter">
      <ion-item slot="header">
        <ion-label>Filter</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item *ngIf="locaties">
          <ion-label position="floating">Location</ion-label>
          <ion-select [(ngModel)]="locatieSelected" (ionChange)="onSelectChange()" interface="popover">
            <ion-select-option [value]="null">{{'General.All' | translate}}</ion-select-option>
            <ion-select-option *ngFor="let v of locaties" [value]="v.id">{{v.name}}</ion-select-option>
          </ion-select>
        </ion-item>

        <!-- <ion-item *ngIf="organizers">
          <ion-label position="floating">Organizers</ion-label>
          <ion-select [(ngModel)]="organizerSelected" (ionChange)="onSelectChange()" interface="popover">
            <ion-select-option [value]="null">{{'General.All' | translate}}</ion-select-option>
            <ion-select-option *ngFor="let o of organizers" [value]="o.id">{{o.name}}</ion-select-option>
          </ion-select>
        </ion-item> -->

        <ion-item *ngIf="categories">
          <ion-label position="floating">Categories</ion-label>
          <ion-select [(ngModel)]="categorieSelected" (ionChange)="onSelectChange()" interface="popover">
            <ion-select-option [value]="null">{{'General.All' | translate}}</ion-select-option>
            <ion-select-option *ngFor="let c of categories" [value]="c.id">{{c.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

    </ion-accordion>
  </ion-accordion-group>


  <app-event-list-card [list]="list"></app-event-list-card>

</ion-content>