<div class="p-bt-medium" [class.poster-background]="withBackground">
  <ion-grid>
    <ion-row>
      <ng-container *ngIf="!simpleList">
        <ion-col *ngFor="let item of list" size-xs="6" size-sm="6" size-lg="4">
          <app-event-card [event]="item" [dateJustWithHour]="dateJustWithHour" [showLocalisation]="showLocalisation"
            [showType]="showType">
          </app-event-card>
        </ion-col>
      </ng-container>
      <ng-container *ngIf="simpleList">
        <ion-col *ngFor="let item of list" size="12">
          <app-event-card [event]="item" [dateJustWithHour]="dateJustWithHour" [showLocalisation]="showLocalisation">
          </app-event-card>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</div>
