<app-header [title]="'Programme'"></app-header>

<ion-content>
  <!-- <h5 class="text-align">{{'General.SeeYouLater' | translate}}</h5> -->
  <ion-tabs>
    <ion-tab-bar slot="top">
      <!-- TODO not direct put sat, check what to do -->
      <ion-tab-button [tab]="'subprogramme/date/sat'" [class.custom-tab-selected]="isTabSelected('date')">
        <ion-label>
          <h1>{{ 'Day.Date' | translate }}</h1>
        </ion-label>
      </ion-tab-button>
      <ion-tab-button [tab]="'subprogramme/type/' + firstEventType" [class.custom-tab-selected]="isTabSelected('type')">
        <ion-label>
          <h1>{{ 'General.Type' | translate }}</h1>
        </ion-label>
      </ion-tab-button>
      <ion-tab-button [tab]="'subprogramme/localisation/' + firstEventLocalisation"
        [class.custom-tab-selected]="isTabSelected('localisation')">
        <ion-label>
          <h1>{{ 'General.Localisation' | translate }}</h1>
        </ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>