<app-header [title]="'About'"></app-header>

<ion-content class="background-color">

  <ion-item>
    <ion-label><a href="mailto:info@manifiesta.be">info@manifiesta.be</a></ion-label>
  </ion-item>

  <ion-accordion-group>
    <ion-accordion value="sponsor">
      <ion-item slot="header">
        <ion-label>{{'General.Sponsor' | translate}}</ion-label>
      </ion-item>
      <div slot="content" class="background-primary-color">
        <a *ngFor="let sponsor of sponsors" [href]="sponsor.field_link">
          <ion-img [src]="sponsor.field_logo?.field_media_image?.image_style_uri?.logo" [alt]="sponsor.name"></ion-img>
        </a>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-accordion-group>
    <ion-accordion value="FAQ">
      <ion-item slot="header">
        <ion-label>FAQ</ion-label>
      </ion-item>
      <div slot="content">
        <div *ngFor="let faq of FAQs" class="m-left-medium">
          <ion-accordion-group>
            <ion-accordion [value]="faq.id">
              <ion-item slot="header">
                <ion-label>{{faq.title}}</ion-label>
              </ion-item>
              <div slot="content">
                <div [innerHTML]="faq.field_teaser"></div>
                <div *ngFor="let paragraph of faq.field_paragraphs" class="m-left-medium">
                  <h6>{{paragraph.field_title}}</h6>
                  <div [innerHTML]="paragraph.field_text"></div>
                </div>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </div>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-accordion-group>
    <ion-accordion value="app">
      <ion-item slot="header">
        <ion-label>{{ 'About.App' | translate }}</ion-label>
      </ion-item>
      <ion-item slot="content">
        <p>
          {{ 'About.Dev' | translate }}
          <a href="https://github.com/FreeCaribou/Manifiestapp" class="text-align"><ion-icon
              name="logo-github"></ion-icon></a>
        </p>
      </ion-item>
    </ion-accordion>
  </ion-accordion-group>

</ion-content>