<app-header [title]="'Home'"></app-header>

<ion-content>

  <h1>{{ 'General.HelloWorld' | translate }}</h1>
  <h2>The date of ManiFiesta</h2>
  <!-- TODO Photo from a constant url please -->
  <img alt="manifiesta-banner-2022"
    src="https://scontent-bru2-1.xx.fbcdn.net/v/t39.30808-6/267590240_7136934889650779_4200287399543947349_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=e3f864&_nc_ohc=wBDmYqQAwP0AX9S_6og&_nc_ht=scontent-bru2-1.xx&oh=00_AT8hU4M7_RvwEdi1mhnd_W_4jHbvHf8hdS-jMO1anIB-rA&oe=61C1DA7E">
  <img>
  <h2>Try here a photo caroussel</h2>
  <h3>Presentation of the festival</h3>
  <h4>Try a YT video</h4>

</ion-content>