<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons style="display: flex; justify-content: center;">
      <ion-button>{{"Ticket.MyDepartmentInfo" | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ng-container>
    <p>{{"Ticket.EnterSomeDataToBeAbleToSell" | translate}}</p>
    <ion-item *ngIf="departements.length > 0">
      <ion-label color="primary" position="floating">
        {{"Ticket.Department" | translate}}
      </ion-label>
      <ion-select [placeholder]="'Ticket.DepartmentChoice' | translate" [value]="sellerDepartement"
        interface="popover" (ionChange)="onSellerDepartementChange($event)">
        <ion-select-option *ngFor="let d of departements" [value]="d.code">{{d.label}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="sellerDepartement === 'BASE'">
      <ion-label>
        {{'Ticket.IAmFromWorkerGroup' | translate}}
      </ion-label>
      <ion-toggle slot="end" [checked]="sellerFromWorkGroup" (ionChange)="onSellerFromWorkGroup($event)"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="stacked">
        {{'Volunteer.PostalCode' | translate}}
      </ion-label>
      <ion-input [placeholder]="'Volunteer.PostalCode' | translate" type="number" [value]="sellerPostalCode"
        (ionChange)="onSellerPostalCodeChange($event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="stacked">
        {{'Volunteer.SellingGoal' | translate}}
      </ion-label>
      <ion-input [placeholder]="'Volunteer.SellingGoal' | translate" type="number" min="0"
        [value]="sellerSellingGoal" (ionChange)="onSellerSellingGoal($event)"></ion-input>
    </ion-item>
  </ng-container>

  <ion-button (click)="ok()" [disabled]="!infoOk" class="m-top-medium" color="success" expand="block">
    {{'General.Confirm' | translate}}
    <ion-icon name="checkmark-circle-outline"></ion-icon>
  </ion-button>

  <ion-button (click)="closeShowAfterSellingModal()" class="m-top-medium" color="danger" expand="block">
    {{'Ticket.Cancel' | translate}}
  </ion-button>
  
</ion-content>